# {{{natspec.title}}}
{{{natspec.devdoc}}}

{{#if ownFunctions}}
## Functions:
{{#ownFunctions}}
- [`{{name}}({{args}}) {{visibility}}`](#{{anchor}})
{{/ownFunctions}}
{{/if}}

{{#if ownEvents}}
## Events:
{{#ownEvents}}
- [`{{name}}({{args}})`](#{{anchor}})
{{/ownEvents}}
{{/if}}

{{#if ownModifiers}}
## Modifiers:
{{#ownModifiers}}
- [`{{name}}({{args}})`](#{{anchor}})
{{/ownModifiers}}
{{/if}}

{{#ownFunctions}}
<a name="{{anchor~}}"></a>
### Function `{{name}}({{args}}) {{visibility}} {{#if outputs}} -> {{outputs}}{{/if}}`
{{#if natspec.devdoc}}{{natspec.devdoc}}{{else}}No description{{/if}}
{{#if natspec.params}}
#### Parameters:
{{#natspec.params}}
- `{{param}}`: {{description}}
{{/natspec.params}}
{{/if}}
{{#if natspec.returns}}
#### Return Values:
{{#natspec.returns}}
- {{param}} {{description}}
{{/natspec.returns}}
{{/if}}
{{/ownFunctions}}

{{#ownEvents}}
<a name="{{anchor~}}"></a>
### Event `{{name}}({{args}})`
{{#if natspec.devdoc}}{{natspec.devdoc}}{{else}}No description{{/if}}
{{#if natspec.params}}
#### Parameters:
{{#natspec.params}}
- `{{param}}`: {{description}}
{{/natspec.params}}
{{/if}}
{{/ownEvents}}

{{#ownModifiers}}
<a name="{{anchor~}}"></a>
### Modifier `{{name}}({{args}})`
{{#if natspec.devdoc}}{{natspec.devdoc}}{{else}}No description{{/if}}
{{#if natspec.params}}
#### Parameters:
{{#natspec.params}}
- `{{param}}`: {{description}}
{{/natspec.params}}
{{/if}}
{{/ownModifiers}}
